* {
    padding: 0px;
    margin: 0px;
}

.top-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100vw;
    flex-wrap: wrap;
}

p {
    font-size: 50px;
}

#pages {
    width: 50%;
    background-color: black;
}

#headshot {
    height: 100vh;
    margin: 0px;
}

#header {
    font-family: "Bebas Neue", sans-serif;
    font-size: 150px;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin: 0px;
    padding: 0px;
    position: fixed;
    transition: 0.3s;
}
